*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
  background-color: red;
  animation:container_changing 2s linear infinite;
}
@keyframes container_changing {
  0% {
    background-color: orange;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}
.main_title{
  padding: 20px 0;
  color: yellow;
}
.text_center{
  text-align: center;
}
.display_flex{
  display: flex;
  justify-content: space-between;
}
.display_flex p{
  flex-basis: calc(100% / 3);
}
.heading{
  line-height: 50px;
  border-radius: 20px;
  margin: 5px;
  height: 50px;
  background-color:yellow;
  animation:heading_changing 1s linear infinite;
}
@keyframes heading_changing {
  0% {
    background-color:yellow;
    font-size: 15px;
  }
  50% {
    background-color:red;
    font-size: 18px;
  }
  100% {
    background-color:yellow;
    font-size: 15px;
  }
}
.icon{
  font-size: 200px;
  line-height: 300px;
  width: 100%;
  text-align: center;
  color: green;
  animation:icon_changing 0.8s linear infinite;
}
@keyframes icon_changing {
  0% {
      transform: rotate(2turn);
      color: green;
      font-size: 200px;
  }
  50% {
    font-size: 250px;
    color: blue;
  }
  100% {
    color: green;
    font-size: 200px;
  }
}
ul{
  padding: 20px 0;
}
ul li{
  list-style: none;
  text-align: center;
  padding: 2px 0;
}
.compass_container{
  display: flex;
  width: 300px;
  height: 300px;
  background-color: yellow;
  border-radius: 50%;
}
.left_column,.right_column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
